@import "tailwindcss";
@theme {
  --color-kaigo: rgba(54, 162, 235, 1);
  --color-kango: rgba(250, 224, 132, 1);
  --color-yuryo: rgba(186, 235, 157, 1);
}

html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: var(--font-noto-sans-jp, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif);
}

* {
  box-sizing: border-box;
}


code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

button {
  cursor: pointer;
}

.table-container {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}

.summary {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

/* table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
  border: 1px solid #ddd;

  tr {
    min-height: 42px;
  }

  th {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }

  td {
    border-bottom: 1px solid #f0f0f0;
    padding: 8px;
    background-color: white;
    max-width: 120px;
  } */

  /* .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
} */


